---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center justify-center h-screen p-8">
    <div class="w-full h-full p-4 border-8 border-white shadow-glow"></div>
  </main>
</Layout>
